:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url('../images/cover-image-dark.png');


  --accent-color: #ff0070;
  --bg-color: #000028;
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --text-color: #f1B2ce;
}