:root.theme-dark {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --accent-color: #ff0070;
  --btn-color: #ff0070;
  --rec-text-color: #ff0070;
  --title-color: #db00ff;
  --section-header-color: #ff0070;
  --header-text-color: #000028;
  --text-color: #f1b2ce;
}