:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url('../images/cover-image-light.png');
  --section-header-text-color: rgba(53, 52, 48, 1);
  --header-text-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
  --button-color:  rgba(53, 52, 48, 1);

  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --decor-text-color: transparent;
  --decoration-color: #ffc2e6;
}


@media (prefers-color-scheme: light) {
  :root {
  --backgrond-page: url('../images/cover-image-light.png');
  --section-header-text-color: rgba(53, 52, 48, 1);
  --header-text-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
  --button-color:  rgba(53, 52, 48, 1);

  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --decor-text-color: transparent;
  --decoration-color: #ffc2e6;
  }
}