:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --btn-color:  rgba(53, 52, 48, 1);
  --rec-text-color: transparent;
  --title-color: #ffc2e6;
  --section-header-color: rgba(53, 52, 48, 1);
  --header-text-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
}


@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --btn-color:  rgba(53, 52, 48, 1);
  --rec-text-color: transparent;
  --title-color: #ffc2e6;
  --section-header-text-color: rgba(53, 52, 48, 1);
  --header-text-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
  }
}