:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --btn-color: #353430;
  --page-bg: url('../images/cover-image-light.png');
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --button-color:  rgba(53, 52, 48, 1);
  --title-color: transparent;
  --title-color: #ffc2e6;
  --section-header-text-color: rgba(53, 52, 48, 1);
  --header-text-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
}


@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #fff1f7;
  --btn-color: #353430;
  --btn-border: #353430;
  --accent-color: #ff8dcb;
  --button-color:  rgba(53, 52, 48, 1);
  --title-color: transparent;
  --title-color: #ffc2e6;
  --section-header-text-color: rgba(53, 52, 48, 1);
  --header-text-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
  }

  .theme-light .header__rec {
  display: none;
}

.theme-auto .header__rec {
  display: none;
}
}