.page.theme_light .header__rec {
  display: none;
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font-family);
  font-size: var(--font-size);
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --bg-color: #fff1f7;
}

@media (width >= 1024px) {
  .title {
    text-shadow: 4px 4px 0px var(--accent-color);
  }
  .footer__text {
    text-shadow: 2px 2px 0px var(--accent-color);
  }
}