.decorated-zone::after{
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}
.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 20px;
  right: 20px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}  

.decorated-zone::after {
  bottom: 35px;
  left: 20px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
 
}

.title-decor {
  margin: 0;
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  justify-content: end;
  font-weight: 700;
  background-size: cover;
  font-size: var(--font-size);
}
/*REC*/
.header__rec {
  position: absolute;
  text-transform: uppercase;
  top: 20px;
  right: 27px;
  color: var(--accent-color);

}

.header__rec::after {
  content: "";
  display: inline-block;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px var(--accent-color);
  margin-inline-start: 10px;
  border-radius: 50%;
  width: 9px;
  height: 9px;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-family);
  color: var(--text-color);
  font-size: var(--font-size);
}


/*HEADER*/

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  position: relative;
  padding: 10px;
  height: 100vh;     
  min-height: 668px;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.header__theme-menu-item {
  list-style: none;
}

.header__theme-menu-button {
  background-color: transparent;
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: 18px;
  padding: 1.5px 13px;
  cursor: pointer;
  border: 0;
  color: var(--accent-color);
  height: 26px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border: 1px solid var(--accent-color);
}

.header__container {
  display: flex;
  flex-direction: column;
  gap: 114px;
}

.header__title {
  margin: 0;
  display: flex;
  color: var(--title-color);
  font-weight: 700;
  font-size: var(--font-size-standart);
  margin-inline-start: -20px;
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color);
}

.header__subtitle {
  display: flex;
  width: 491px;
  align-self: flex-end;
  margin: auto 0;
  line-height: 23.4px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  justify-content: end;
  font-weight: 700;
  background-size: cover;
  font-size: var(--font-size);
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
  padding: 60px 20px;
}

.why {
  display: grid;
  grid-template-columns: 315px 1fr;
  row-gap: 20px;
}
.main-title {
  max-width: 315px;
  margin: 0;
  font-size: 18px;
  color: var(--accent-color);
  font-weight: 700;
}

.main__section-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__section-text {
  margin: 0;
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 23.4px;
  color: var(--text-color);
}

.section-text__link {
  text-decoration: none;
  text-shadow: 1px 2px 0 var(--accent-color);
  color: var(--text-color);
}

.section__text-link:hover {
  border-block-end: 1px solid var(--text-color);
}

.section__text-link:focus {
  outline: none;
}

.section__text-link:focus-visible {
  outline: 1px solid var(--text-color);
}


/* WHAT */
.what{
  margin-top: 80px;
}

.cards__container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.what__title {
  margin: 0;
  width: 315px;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

/* HOW */

.how {
  display: grid;
  grid-template-columns: 315px 1fr;
}

.main__section-subtitle {
  margin: 0;
  background-color: var(--accent-color);
  font-weight: 400;
  color: var(--subtitle-color);
  margin-block-start: 20px;
  line-height: 23.4px;
  font-size: var(--font-size);
}

/* PICTURES */

.pictures{
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "title title title"
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.image__sunset {
  grid-area: sunset;
}

.image__ice-cream {
  grid-area: ice-cream;
}

.image__tape {
  grid-area: tape;
}

.image__books {
  grid-area: books;
}

.image__street {
  grid-area: street;
}

.pictures .title-decor {
  grid-area: title;
}

/* FOOTER */

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
}

.footer-title {
  color: var(--title-color);
  font-size: var(--font-size-standart);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color);
}

@media (width <=768px) {
  .header__theme-menu {
    padding-top: 170px;
    place-self: center end;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__title {
    font-size: var(--font-size-title);
  }

  .header__container {
    display: flex;
    flex-direction: column;
    gap: 162px;
  }

  .why {
    grid-template-columns: 236px 1fr;
  }


  .what {
    grid-template-columns: 1fr;
  }

  .what .main__section-title {
    grid-column: span 1;
  }

  .footer-title {
    font-size: var(--font-size-title);
  }

  .how {
    grid-template-columns: 236px 1fr;
  }
}

@media (width <=375px) {
  .header {
    padding: 10px;
  }

  .header__theme-menu {
    place-self: center end;
    padding-top: 54px;
  }

  .header__title {
    margin-inline-start: 0;
    font-size: var(--font-size-title);
  }

  .header__container {
    padding: 56px 0;
    gap: 58px;
  }

  .header__rec {
    right: 16px;
    top: 12px;
  }

  .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }

  .decorated-zone::before {
    right: 10px;
    top: 10px;
  }

  .main {
    padding-block: 40px;
    padding-inline: 10px;
    gap: 50px;
  }

  .why {
    row-gap: 24px;
  }

  .what {
    width: 100%;
    row-gap: 24px;
  }

  .why,
  .how {
    grid-template-columns: 1fr;
  }

  .cards__container {
    display: flex;
    flex-direction: column;
  }

  .what .main__section-title {
    width: 100%;
  }

  .pictures {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .main__section-block {
    gap: 6px;
  }

  .main__section-subtitle {
    margin-block-start: 24px;
  }
}