.decorated-zone {
  position: relative;
}

.decorated-zone::after{ 
  content: ""; 
  position: absolute; 
  width: 25px; 
  height: 25px; 
  bottom: 35px; 
  left: 20px; 
  border-bottom: 1px solid var(--accent-color); 
  border-left: 1px solid var(--accent-color);
} 

.decorated-zone::before { 
  content: ""; 
  position: absolute; 
  width: 25px; 
  height: 25px; 
  top: 10px; 
  right: 10px; 
  border-top: 1px solid var(--accent-color); 
  border-right: 1px solid var(--accent-color); 
}  
 
.title-decor { 
  background-color: var(--accent-color); 
  color: var(--subtitle-color); 
  font-weight: 700; 
  font-size: var(--font-size); 
  line-height: 23.4px;
} 
/*REC*/ 
.header__rec { 
  position: absolute; 
  text-transform: uppercase; 
  top: 20px; 
  right: 27px; 
  color: var(--accent-color); 
 
} 
 
.header__rec::after { 
  content: ""; 
  display: inline-block; 
  background-color: var(--accent-color); 
  box-shadow: 0 0 4px var(--accent-color); 
  margin-inline-start: 10px; 
  border-radius: 50%; 
  width: 9px; 
  height: 9px; 
} 
 
.page { 
  background-color: var(--bg-color); 
  background-image: var(--bg-image); 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  background-attachment: fixed; 
  font-family: var(--font-family);  
  color: var(--text-color); 
  font-size: var(--font-size); 

  min-inline-size: 375px;
} 
 
 
/*HEADER*/ 
 
.header { 
  margin-block-end: 40px;

  display: grid; 
  grid-template-rows: 1fr min-content 1fr; 
  align-items: center;
  position: relative; 
  padding: 10px; 
  inline-size: 100%;
  height: 100vh;      
  min-height: 668px; 
} 
 
.header__theme-menu{
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list { 
  display: grid; 
  gap: 10px; 
  grid-template-columns: 1fr;
} 
 
.header__theme-menu-item { 
  list-style: none; 
} 
 
.header__theme-menu-button { 
  background-color: transparent; 
  text-transform: lowercase;
  font-size: var(--font-size); 
  font-family: var(--font-family); 
  font-weight: 400;
  line-height: 18px; 
  padding: 1.5px 13px; 
  cursor: pointer; 
  border: 0; 
  color: var(--accent-color); 
  height: 26px; 
} 
 
.header__theme-menu-button_active { 
  outline: 1px solid var(--accent-color); 
  pointer-events: none; 
} 
 
.header__theme-menu-button:hover { 
  outline: 1px solid var(--accent-color); 
} 
 
.header__theme-menu-button:focus { 
  outline: none; 
} 
 
.header__theme-menu-button:focus-visible { 
  border: 1px solid var(--accent-color); 
} 
 
.header__container { 
  display: flex; 
  flex-direction: column; 
  gap: 114px; 
} 
 
.header__title {
  align-self: center;
  color: var(--title-color); 
  font-weight: 700; 
  font-size: var(--font-size-title); 
  line-height: 82.5%; 
  text-shadow: 4px 4px 0px var(--accent-color); 
} 
 
.header__subtitle { 
  max-width: 364px;
  width: 100%;
  align-self: center;
  justify-self: end; 
  line-height: 23.4px; 
} 
 
 
/* MAIN */ 
 
.main {
  margin-left: 10px;
  margin-right: 10px;

  display: grid;
  gap: 50px;
} 
 
.content-section{
  display: grid;
  /* grid-template-columns: 236px 1fr; */
  gap: 20px;
  margin-bottom: 40px;
}

.content-section__why {
  grid-column-start: 2;
  grid-column-end: 3;
}

.main-title { 
  font-size: 18px;
  font-family: var(--font-family);
  color: var(--accent-color); 
  font-weight: 700; 
  line-height: 23.4px;
} 
 
.main__section-block { 
  display: grid;
  gap: 10px; 
} 
 
.main__section-text { 
  margin: 0; 
  font-size: var(--font-size); 
  font-family: var(--font-family); 
  font-weight: 400; 
  line-height: 23.4px; 
  color: var(--text-color); 
} 
 
.section-text__link { 
  text-decoration: none; 
  text-shadow: 1px 2px 0 var(--accent-color); 
  color: var(--text-color); 
} 
 
.section-text__link:hover { 
  border-block-end: 1px solid var(--text-color); 
} 
 
.section-text__link:focus { 
  outline: none; 
} 
 
.section-text__link:focus-visible { 
  outline: 1px solid var(--text-color); 
} 
 
 
/* WHAT */ 

.cards__container { 
  display: grid; 
  gap: 20px; 
  grid-column-start: 1;
  grid-column-end: 3;
} 
 
.what__title { 
  margin: 0; 
  width: 315px; 
  font-size: var(--font-size); 
  font-family: var(--font-family); 
} 

.title-content-section__what {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.content-section__what {
  grid-column: 1 / -1;
  grid-row: 2 span;
}
 
/* HOW */ 
 
.main__section-container{
  display: grid;
  gap: 20px;
}

.how { 
  display: grid; 
  grid-template-columns: 315px 1fr; 
} 
 
.main__section-subtitle { 
  font-weight: 400; 
} 
 
/* PICTURES */ 
 
.pictures{ 
  width: 100%; 
  display: grid; 
  gap: 20px; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: auto auto auto auto; 
  grid-template-areas: 
    "title title title" 
    "sunset sunset ice-cream" 
    "tape books ice-cream" 
    "tape street street"; 
} 
 
.image { 
  width: 100%;  
  height: 100%; 
  object-fit: cover; 
} 
 
 
.image__sunset { 
  grid-area: sunset; 
} 
 
.image__ice-cream { 
  grid-area: ice-cream; 
} 
 
.image__tape { 
  grid-area: tape; 
} 
 
.image__books { 
  grid-area: books; 
} 
 
.image__street { 
  grid-area: street; 
} 
 
.pictures .title-decor { 
  grid-area: title; 
} 
 
/* FOOTER */ 
 
.footer { 
  position: relative; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 20px; 
  min-height: 100vh; 
} 
 
.footer-title { 
  color: var(--title-color); 
  font-size: var(--font-size-standart); 
  font-weight: 700; 
  line-height: 82.5%; 
  text-shadow: 4px 4px 0px var(--accent-color); 
} 

/* MEDIA */


@media (width >= 768px) {

.header {
  margin-bottom: 60px;
  padding: 20px;
  min-height: 1024px;
}

.header__title {
  font-size: var(--font-size-standart);
  margin-left: -20px;
}

.header__subtitle {
  max-width: 364px;
  width: 100%;
  justify-self: end;
}

.header__rec {
  top: 18px;
  right: 26px;
}

.main {
  gap: 80px;
  margin: 0 20px;
}

.content-section {
  grid-template-columns: 236px 2fr;
}

.decorated-zone::before {
  top: 20px;
  right: 20px;
}

.decorated-zone::after {
  bottom: 20px;
  left: 20px;
}

.content-section__why {
  grid-column-start: 2;
  grid-column-end: 3;
}

.cards__container {
  grid-column-start: 1;
  grid-column-end: 3;
}

.main__section-container{
  grid-template-columns: 1fr;
}


.title__pictures {
  grid-column-start: 1;
  grid-column-end: 4;
}

.footer {
  min-block-size: 1024px;
  margin-block-start: 60px;
}
}



@media (width >= 1024px) {
.header {
  min-height: 768px;
}

.header__theme-menu {
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  grid-template-columns: repeat(3, 1fr);
}

.header__subtitle {
  max-width: 491px;
  width: 100%;
}

.content-section{
  grid-template-columns: 315px 2fr;
}

.footer {
  min-height: 768px;
}
}