.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  justify-self: end;
  align-self: start;
  top: 10px;
  right: 10px;
  border: 1px solid var(--btn-color);
  border-inline-start: none;
  border-block-end: none;
  
}

.decorated-zone::after {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  justify-self: start;
  align-self: end;
  bottom: 10px;
  left: 10px;
  border: 1px solid var(--btn-color);
  border-inline-end: none;
  border-block-start: none;
}


.page {
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  font-family: var(--font-family), monospace;
}

.header {
  margin-bottom: 40px;
  padding: 10px;
  position: relative;
  min-height: 668px;
  height: 100vh;
  
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 38px;
  text-transform: uppercase;
  justify-self: end;
  align-self: start;

  font-size: var(--font-size);
  font-weight: 400;
  color: var(--rec-text-color);
}

.header__rec::after {
  content: '';
  width: 9px;
  height: 9px;
  position: absolute;
  top: 8px;
  left: 43px;

  background-color:var(--rec-text-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px;
}


.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 1.5px 13px;

  background-color: transparent;
  font-family: var(--font-family), monospace;
  font-weight: 400;
  font-size: var(--font-size);
  color: var(--btn-color);
  text-transform: lowercase;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgb(from var(--btn-color) r g b /0.4);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--btn-color);
}

.header__theme-menu-button:focus-visible {
  outline: transparent;
  border-bottom: 1px solid var(--btn-color);
}

.header__title {
  align-self: center;

  font-size: var(--font-size-title);
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  line-height: 83%;
}

.title-decor {
  background-color: var(--accent-color);
  font-family: var(--font-family), monospace;
  color: var(--header-text-color);
}

.header__text {
  align-self: center;
  justify-self: start;

  font-size: var(--font-size);
  font-weight: 700;
  line-height: 23.4px;
  color: var(--header-text-color);
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  gap: 53px;
  margin: 0 10px;
}

/* WHAT */

.section {
  display: grid;
  gap: 20px;
}

.main-section__header {
  font-family: var(--font-family), monospace;
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 23.4px;
  color: var(--section-header-color);
}

.section__content {
  display: grid;
  gap: 9px;
}

.section-header {
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 23.4px;
}

.section-text {
  font-family: var(--font-family), monospace;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 23.4px;
  color: var(--text-color);
}

.section-text__link {
  text-shadow: 2px 2px 1px var(--accent-color);
  text-decoration: none;
}

.section-text__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section-text__link:focus-visible {
  outline: none;
  border: 1px solid var(--text-color);
}


/* WHY */

.section-content__container {
  display: grid;
  gap: 20px;
}

/* WHAT */

.section-how__container {
  display: grid;
  gap: 20px;
}

.section-header__subtitle {
  font-weight: 400;
}

/* IMAGES */

.section-images {
  display: grid;
  gap: 10px;
}

.images__container {
  display: grid;
  gap: 10px;
}

.image {
  width: 100%;
}

/* FOOTER */

.footer {
  margin-top: 40px;
  padding: 0 10px;
  position: relative;
  min-height: 668px;
  height: 100vh;

  display: grid;
  align-items: center;
  justify-content: center;
}

.footer__title {
  font-size: var(--font-size-title);
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  line-height: 83%;
}

/* MEDIA ЗАПРОСЫ */

@media (width >=768px) {

  .header__rec {
    top: 20px;
    right: 48px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header {
    margin-bottom: 60px;
    padding: 20px;
  }

  .header__title {
    margin-left: -20px;
    font-size: var(--font-size-standart);
  }

  .header__text {
    max-width: 364px;
    width: 100%;
    justify-self: end;
  }

  .main {
    margin: 0 20px;
    gap: 82px;
  }

  .section {
    grid-template-columns: 236px 2fr;
  }

  .section-why__content {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .section-content__container {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .section-images__header {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .images__container {
    align-items: stretch;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap:20px;

    grid-column-start: 1;
    grid-column-end: 4;
  }

  .section-images {
    gap: 20px;
  }

  .image {
    display: block;

    height: auto;
    object-fit: cover;
  }

  .image:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }

.image:nth-child(2) {
  grid-column: 3;
  grid-row: span 2;
  }

.image:nth-child(3) {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4;
  }

.image:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
  }

.image:last-child {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 3;
  }

  .footer {
    margin-top: 60px;
  }

  .footer__title {
    font-size: var(--font-size-standart);
  }
}

@media (width >=1024px) {

.header__rec {
  top: 20px;
  right: 48px;
}

.header__theme-menu {
  align-self: start;
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__title {
  font-size: var(--font-size-standart);
}

.header__text {
  max-width: 491px;
  width: 100%;
}

.section {
  grid-template-columns: 315px 2fr;
}

.section-content__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.section-what__content {
  grid-template-rows: min-content auto;
}

.section-images__header {
  grid-column: 1 / 4;
}

.footer {
  min-height: 768px;
}
}