.page {
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  font-family: var(--font-family);
}

.header {
  margin-bottom: 40px;
  padding: 10px;
  position: relative;
  min-height: 668px;
  height: 100vh;
  
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 38px;
  text-transform: uppercase;
  justify-self: end;
  align-self: start;

  font-size: var(--font-size);
  font-weight: 400;
  color: var(--rec-text-color);
}

.header__rec::after {
  content: '';
  width: 9px;
  height: 9px;
  position: absolute;
  top: 8px;
  left: 43px;

  background-color:var(--rec-text-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  justify-self: end;
  align-self: start;
  top: 10px;
  right: 10px;
  border: 1px solid var(--btn-color);
  border-inline-start: none;
  border-block-end: none;
  
}

.decorated-zone::after {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  justify-self: start;
  align-self: end;
  bottom: 10px;
  left: 10px;
  border: 1px solid var(--btn-color);
  border-inline-end: none;
  border-block-start: none;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 1.5px 13px;

  background-color: transparent;
  font-family: var(--font);
  font-size: var(--main-font-size);
  font-weight: 400;
  font-size: var(--font-size);
  color: var(--btn-color);
  text-transform: lowercase;
  border: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgb(from var(--btn-color) r g b /0.4);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--btn-color);
}

.header__theme-menu-button:focus-visible {
  outline: transparent;
  border-bottom: 1px solid var(--btn-color);
}

.header__title {
  align-self: center;

  font-size: var(--font-size-title);
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  line-height: 83%;
}

.title-decor {
  background-color: var(--accent-color);
  font-family: var(--font-family);
  color: var(--header-text-color);
}

.header__text {
  align-self: center;
  justify-self: start;

  font-size: var(--font-size);
  font-weight: 700;
  line-height: 23.4px;
  color: var(--header-text-color);
}