:root {
  --bg-image: url('../images/cover-image-dark.png');
  --font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);  
  --font-size-standart: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  
  --accent-color: #ff0070;
  --bg-color: #000028;
  --btn-color: #ff0070;     /*button-color*/
  --rec-text-color: #ff0070;     /*decor-text-color*/
  --title-color: #db00ff;   /*decoration-color*/
  --section-header-text-color: #ff0070;
  --header-text-color: #000028;
  --text-color: #f1b2ce;

  --font-family: 'IBM Plex mono';
  --font-size: 18px;
}