:root {
  --bg-image: url('../images/cover-image-dark.png');
  --font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); 
  --font-size-standart: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);

  --btn-border: var(--accent-color)
  --btn-color:(var(--accent-color))
  --bg-color: #000028;
  --accent-text-color: #ff0070;
  --accent-color: #ff0070; 
  --button-color: #ff0070;
  --decor-text-color: #ff0070;
  --title-color: #db00ff; 
  --section-header-text-color: #ff0070;
  --header-text-color: #000028;
  --text-color: #f1b2ce;
  --font-family: "IBM Plex Mono", monospace; 
  --font-size: 18px; 
}

